{
  "extends": "eslint:recommended",

  "parserOptions": {
    "sourceType": "module"
  },

  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },

  "globals": {
    "atom": true,
    "expect": true,
    "waitsForPromise": true
  },

  "rules": {
    "semi": 1,
    "camelcase": 0,
    "comma-dangle": 0,
    "global-strict": 0,
    "no-underscore-dangle": 0,
    "no-console": 0,
    "block-scoped-var": 0,
    "valid-jsdoc": [1],
    "no-loop-func": 0,
    "eqeqeq": 1
  }
}
